<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlitruyenhinh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLiTruyenHinh">
        <activity
            android:name=".Activity_BienTapVien"
            android:exported="false" />
        <activity
            android:name=".Activity_TheLoai"
            android:exported="false" />
        <activity
            android:name=".Activity_ThongTinPhatSong"
            android:exported="false" />
        <activity
            android:name=".Activity_DanhMucChuongTrinh"
            android:exported="false" />
        <activity
            android:name=".BaocaoChuongTrinh"
            android:exported="false" />
        <activity
            android:name=".Baocaotheloai"
            android:exported="false" />
        <activity
            android:name=".inbaocao"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>